.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

#main-navigation {
  .menu-item-has-children {
    @include breakpoint(small down) {
      .submenu {
        padding-left: 1em;
      }

      & > a {
        margin-top: 1px;
        margin-bottom: 1px;
      }
    }
  }

  .submenu-toggle {
    border: solid 1px $primary-color;
  }
}
