.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}

.comments-area {
  .comment-list {
    margin: 0 1em;

    .comment,
    .pingback {
      margin-bottom: 1em;
    }

    .nested-comment {
      margin-left: 1em;
      margin-top: 1em;
    }
  }

  .comment-author {
    img {
      border-radius: 50%;
    }
  }

  .form-submit {
    .submit {
      @extend .button;
    }
  }
}
