#footer {
	min-height: 330px;
	background: $black;

	.footer-info {
		text-align: center;
	}

	.widget {
		.menu {
			flex-flow: wrap column;

			a {
				display: inline-block;
			}
		}
	}
}

.scroll-to-top {
	width: 40px;
	height: 40px;
	line-height: 35px;
	text-align: center;
	font-size: 24px;
	color: #ffffff;
	position: fixed;
	right: 30px;
	bottom: 20px;
	border-radius: 100%;
	opacity: 0.5;
	z-index: 11;
}
