.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.site-content {
  min-height: 70vh;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-meta {
  & > span {
    margin-right: 0.5em;
  }
}

.entry-title,
.page-title {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.nav-links {
  display: flex;
  justify-content: center;

  .page-numbers {
    margin: auto 0;
  }
}

/**
 * Blog page
 */
.archive,
.search-results,
.blog-loop {
  .featured-image {
    figure {
      margin: auto;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      a {
        display: block;
      }
    }

    i,
    img {
      height: 3em;
      width: 100%;
      position: relative;
      z-index: 1;
      object-fit: cover;
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        display: block;
        font-size: 3em;
      }
    }
  }

  .nav-links {
    text-align: center;
  }
}

.single-post {
  .title-bar-content {
    text-align: center;
  }

  .featured-image {
    figure {
      display: flex;
      justify-content: center;

      img {
        display: block;
        max-height: 300px;
        width: auto;
      }
    }
  }

  .entry-footer {
    display: flex;
    flex-direction: column;
  }

  .navigation {
    .nav-links {
      justify-content: space-between;
    }
  }
}
