button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	background: $color__background-button;
	@include font-size(1);
	color: $color__text-main;
	line-height: 1;
	padding: 0.8em 1.4em;

	&:hover {
		transition: all linear 0.2s;
		border-color: $color__border-button-hover;
		background-color: $color__background-body;
		color: $color__text-main;
	}
 
	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
