// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@font-face {
	font-family: 'Roboto Slab';
	src: url('../src/fonts/RobotoSlab-Light.ttf') format("truetype"),
		 url('../src/fonts/RobotoSlab-Bold.ttf') format("truetype"),
		 url('../src/fonts/RobotoSlab-Regular.ttf') format("truetype"),
		 url('../src/fonts/RobotoSlab-Thin.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}
