$color__background-body: $body-background;
$color__background-screen: $body-background;
$color__background-hr: $body-background;
$color__background-button: $primary-color;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-content: $body-background;

$color__text-screen: $body-font-color;
$color__text-input: $body-font-color;
$color__text-input-focus: $body-font-color;
$color__link: $primary-color;
$color__link-visited: $primary-color;
$color__link-hover: lighten($primary-color, 20%);
$color__text-main: $body-font-color;

$color__border-button: $primary-color;
$color__border-button-hover: $primary-color;
$color__border-button-focus: $secondary-color;
$color__border-input: $primary-color;
$color__border-abbr: #666;
